.dashboard.main-wrapper.container-fluid{
	min-height:100vh;
	
	.nav{
		width:25%;
		position:fixed;
		height:100vh;
		background: #ccc;
	}

	.main-section{
		padding:20px 20px;
		width:75%;
		position:absolute;
		left:25%;
		min-height: 100vh;
		background:white;
	}

	.nav-toggler{
		position:fixed;
		top:10px;
		margin-right: 10px;
		right:0;
		z-index: 99;
		display:none;
	}
}

@media(max-width:$screen-xs-max){
	.dashboard.main-wrapper.container-fluid{
		.main-section{
			width:100%;
			left:0;
		}

		.nav{
			right:-25%;
			z-index: 99;
		}

		.nav-toggler{
			display:block;
		}
	}
}