.edit-answer{
    .header{
    	overflow:auto;
        background:#fafafa;
        border:1px solid #ccc;
        border-top:none;
        border-radius:0 0 3px 3px;
        padding:40px 40px;
    }

    .form{
        margin-top: 25px;
    }
}