.edit{
	.header, .form{
		overflow:auto;
	}

	.header{
		background:#FAFAFA;
		border:1px solid #ccc;
		border-top:none;
		border-radius:0 0 3px 3px;
		padding:40px 40px;
	}

	.form{
		background: #FAFAFA;
		border:1px solid #ccc;
		border-radius:3px;
		padding:25px 20px;
		margin-top: 25px;

		.fieldset{
			margin-bottom: 20px;

			label{
				font-size:1.8rem;
			}
		}
	}
}