.home.nav{
	font-family:corbert;
	background:rgba(0,0,0,0);
	height:70px;
	line-height:70px;

	.logo{
		margin-left: 35px;
		float:left;
	}

	ul{
		float:right;

		li{
			margin-right: 50px;
			float:right;
			list-style-type:none;
			font-size:1.3em;
			
			a.normal-link{
				color:#15179E;
				transition:color .5s ease;
				display: inline-block;
				position: relative;
				padding-bottom: 3px;
			}

			a.normal-link:after{
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}

			a.normal-link:hover{
				color:black;
			}

			a.normal-link:hover:after{
				width: 100%;
				background: black;
			}
		}
	}
	
	.lang-li{
		
	}

	.lang-list{
		background:rgba(0,0,0,0.8);
		height:120px;
		clear:both;
		width:50px;
		padding:10px;
		position:absolute;
		top:70px;
		
		a{
			padding:0;
			margin:0;
		}

		li{
			float:left;
			margin:auto;
		}

		img{
			margin:0;
			width:50px;
			height:25px;
		}
	}
}

.home.container{
	background:url('../img/background.jpg');
	background-repeat:none;
	background-size:cover;
}

.home.section1{
	height:1000px;
	clear:both;
}