.home.nav{
	font-family:corbert;
	background:rgba(0,0,0,0);
	height:70px;
	line-height:70px;

	.logo{
		margin-left: 35px;
		float:left;
	}

	ul{
		float:right;

		li{
			margin-right: 50px;
			float:right;
			list-style-type:none;
			font-size:1.3em;
			
			a{
				color:#223db4;
				transition:color .5s ease;
				display: inline-block;
				position: relative;
				padding-bottom: 3px;
			}

			a:after{
				content: '';
				display: block;
				margin: auto;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}

			a:hover{
				color:black;
			}

			a:hover:after{
				width: 100%;
				background: black;
			}
		}
	}
}

.home.section1{
	clear:both;
}