.login.main-wrapper{
	font-family:lato;
	background:$main-bg;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	min-height:100vh;
	
	.main-section{
		margin-top: 25%;
		background:white;
		padding:20px;
		border:1px solid #ccc;

		button.button{
			display: block;
			margin: auto;
		}
	}

	.fieldset{
		margin-bottom:15px;

		input[type='checkbox'] ~ label{
			font-size:1.8rem;
			margin-left:2px;
		}

		a.forgot-password{
			font-size: 1.5rem;
			float:right;
			color:rgba(21,23,158,.7);
			transition: 0.5s color ease;

			&:hover{
				color:$theme-color;
			}
		}
	}

	.logo{
		margin-bottom: 20px;
		font-family: corbert;
		font-size: 4rem;
		text-align:center;

		a{
			color:$theme-color;
		}
	}
}

@media(min-width:$screen-sm-min){
	.login.main-wrapper > .main-section{
		margin-top: 15%;
	}

	.login.main-wrapper .logo{
		font-size: 3.8rem;
	}
}

@media(max-width:1000px){
	.login.main-wrapper{
		background-position:center;
	}
}