.my-questions{

    .header{
        overflow:auto;
        background:#fafafa;
        border:1px solid #ccc;
        border-top:none;
        border-radius:0 0 3px 3px;
        padding:40px 40px;
        margin-bottom: 40px;
    }

    .main{
        padding:25px 25px;
        font-size: 1.8rem;
    }
}