.new-question{
    .header{
        overflow:auto;
    }

    .header{
        background:#fafafa;
        border:1px solid #ccc;
        border-top:none;
        border-radius:0 0 3px 3px;
        padding:40px 40px;
    }

    .form{
        border:1px solid #ccc;
        border-radius:3px;
        background: #fafafa;
        padding:25px 20px;
        margin-top: 25px;

        .fieldset{
            margin-bottom: 20px;

            label{
                font-size:1.8rem;
            }
        }

        .info{
            font-size: 1.5rem;
            margin-bottom: 20px;
            background:$secondary-color;
            padding:20px;
        }
    }

    .tabs{
        .tab-content{
            padding: 0;
        }

        .markdown-banner{
            float:right;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 5px;
            margin-top: 10px;
            color:grey;

            &:hover{
                color:black;
            }
        }

        .tab-list{
            border-bottom:none;
        }

        #preview{
            padding:20px 30px;
            border:1px solid #ccc;
            font-size: 1.8rem;
            overflow:auto;
            margin-bottom: 20px;
            background:white;
        }
    }
}