.signup.main-wrapper{
	font-family:lato;
	width:100%;
	min-height:100vh;
	background:$main-bg;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding-top:90px;

	.form{
		border:1px solid #ccc;
		position:relative;
		padding:20px;
		background:white;
		margin-bottom: 30px;
		
		h1{
			@include reset();
			margin-bottom:30px;
		}
	}
	
	form{
		.fieldset{
			width:60%;		
			margin-bottom:20px;
		}
	}
}

@media(max-width:$screen-sm-max){
	.signup{
		
		.form{
			float:none;
			margin:auto;

			.fieldset{
				width:100% !important;
			}
		}
	}
}

@media(max-width:1000px){
	.signup.main-wrapper{
		background-position:center;
	}
}