.button{
	font-size:1.8rem;
	border:0;
	border-radius:3px;
	padding:8px 15px;
	color:white;
	background-color:rgba(21,23,158,.5);
	transition: 0.5s all ease;

	&:hover{
		background-color:rgba(21,23,158,.3);
		box-shadow:0 3px #858585;
	}
	
	&:focus{
		outline:none;
	}
}

a.button:hover{
	color:white;
}
