.cookie-banner{
	font-family:corbert;
	position:fixed;
	bottom:0;
	background:rgba(21,23,158,.7);
	width:100%;
	color:white;
	font-size:1.7rem;
	padding:10px 8vh;

	p{
		float:left;	
		@include reset();
	}

	a{
		float:right;
		display: inline-block;
		background:white;
		color:$theme-color;
		padding:10px;

		&:hover{
			background:#ccc;
		}
	}
}