.cookie-banner{
	font-family:corbert;
	position:fixed;
	bottom:0;
	background:white;
	width:100%;
	color:black;
	font-size:1.7rem;
	padding:10px 8vh;

	p{
		float:left;	
		@include reset();
	}

	a{
		float:right;
		display: inline-block;
		background:white;
		color:black;
		padding:10px;
		border:1px solid black;
		border-radius: 5px;
	}
}