.go-back{
	position:absolute;
	top:0;
	left:0;
	font-size: 1.8rem;
	background:white;
	padding:15px 20px;
	border-top:4px solid $theme-color;
	border-bottom:1px solid #ccc;

	a{
		color:rgba(0,0,0,0.6);

		&:hover{
			color:black;
		}
	}
}