.fieldset{
	margin-bottom: 20px;
}

.fieldset.error{
	input:not([type='checkbox']), textarea, select{
		border-color:rgba(21,23,158,.5);
	}

	label{
		color:$theme-color;
	}

	.error-block{
		display:block;
		background:rgba(21,23,158,.5);
		color:white;
		font-size: 1.8rem;
		padding:5px;
	}
}

input:not([type='checkbox']), textarea, select{
	height:3.5rem;
	width:100%;
	border:1px solid #ccc;
	padding:0 5px;

	&:focus{
		outline:none;
		border-color:grey;
	}
}

textarea{
	padding-top:5px;
	resize:vertical;
	width:100%;
	height:200px;
}

input[type='file']{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	& ~ label i{
		margin-right: 10px;
	}
}

select{
	background:white;
}

input::placeholder, textarea{
	font-size: 1.8rem;
	color:rgba(0,0,0,.7);
}

input, textarea, select{
	font-size:1.8rem;
}

label{
	font-size:1.8rem;
	cursor:pointer;
}

.switch-input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    & ~ label:not(.switch){
        font-size:2rem !important;
    }

    & + .switch{
        display: inline-block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
        padding: 2px;
        width: 40px;
        height: 20px;
        background-color: #dddddd;
        border-radius: 60px;
        transition: background 0.4s;
        margin-bottom: -3px;
        margin-right: 10px;
        
        &:before, &:after{
            display: block;
            position: absolute;
            content: "";
        }

        &:before{
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background-color: #fff;
            border-radius: 60px;
            transition: background 0.4s;
        }

        &:after{
            top: 4px;
            left: 4px;
            bottom: 4px;
            width: 15px;
            background-color: #dddddd;
            border-radius: 52px;
            transition: all 0.4s;
        }
    }

    &:checked + .switch{
        background-color: $theme-color;
    
        &:after{
            margin-left: 16px;
            background-color: $theme-color;
        }
    }
}

input.my_name{
	display:none;
}