input:not([type='checkbox']){
	height:3.5rem;
	width:100%;
	border:1px solid #ccc;
	padding:0 5px;

	&:focus{
		outline:none;
	}

	&:focus{
		border-color:grey;
	}
}

input::placeholder{
	font-size: 1.8rem;
	color:rgba(0,0,0,.7);
}

input{
	font-size:1.8rem;
}

label{
	cursor:pointer;
}

.fieldset.error{
	input:not([type='checkbox']){
		border-color:rgba(21,23,158,.5);
	}

	label{
		color:$theme-color;
	}

	.error-block{
		display:block;
		background:rgba(21,23,158,.5);
		color:white;
		font-size: 1.8rem;
		padding:5px;
	}
}