.tabs{
	ul.tab-list{
		border-bottom:1px solid #ccc;
		list-style-type: none;
		overflow:auto;

		li{
			font-size: 1.5rem;
			float:left;
			padding:10px 15px;
			border:1px solid white;
			border-bottom:none;

			&.active{
				border-color:#ccc;
				background:#FAFAFA;
				font-weight: bold;
			}

			a{
				color:black;
			}
		}
	}

	.tab-content{
		padding:20px 0;
		clear:both;

		.tab-panel{
			display:none;

			&.active{
				display:block;
			}
		}
	}	
}