@font-face{
	font-family: corbert;
	src:url("../fonts/Corbert-Regular.otf") format("opentype");
}

@font-face{
	font-family: lato;
	src:url("../fonts/Lato-Light.ttf");
}

@font-face{
	font-family: ubuntu;
	src:url("../fonts/Ubuntu-Light.ttf");
}

::selection{
	background:rgba(21,23,158,0.4);
}

ul{
	@include reset();
}

a{
	text-decoration:none;
	
	&:hover, &:focus{
		text-decoration:none;
	}
}

.img-responsive{
	max-width:100%;
	height:auto;
	display:block;
}

.hidden{
	display:none;
}
